{extend name="base" /}

{block name="title"}首页{/block}
{block name="content"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">数据展示</h1>

  <!-- 仪表盘统计信息 -->
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>用户总数</h4>
      <span class="text-muted">{$userCount}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>资源总数</h4>
      <span class="text-muted">{$resourcesCount}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>举报数量</h4>
      <span class="text-muted">{$reportsCount}</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>今日访问量</h4>
      <span class="text-muted">{}</span>
    </div>
  </div>

  <h2 class="sub-header">关键字排行</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>关键字</th>
          <th>热度</th>
          <th>时间</th>
          <th>其他</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td><a href="javascript:;" class="btn btn-danger btn-xs">删除</a></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
{/block}