{extend name="base" /}

{block name="title"}添加资源{/block}
{block name="content"}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">添加资源</h1>
            <form class="needs-validation" novalidate action="{:url('admin/resource/add')}" method="post">


                <div class="form-group">
                    <label for="title">资源标题</label>

                    <input type="text" class="form-control" id="title" name="title" placeholder="请输入资源标题" required>

                </div>

                <div class="form-group">
                    <label for="content">资源简介</label>

                    <textarea class="form-control" id="content" name="content" rows="3" placeholder="请输入资源简介"
                        required></textarea>

                </div>

                <div class="form-group">
                    <label for="class">网盘分类</label>

                    <select class="form-control" id="class" name="class" required>
                        <option value="1">百度网盘</option>
                        <option value="2">阿里云盘</option>
                        <option value="3">夸克云盘</option>
                        <option value="4">腾讯云盘</option>
                        <option value="5">UC网盘</option>
                        <option value="0">其他</option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="url">网盘链接</label>

                    <input type="text" class="form-control" id="url" name="url" placeholder="请输入网盘链接" required>

                </div>

                <div class="form-group">
                    <label for="code">提取码</label>

                    <input type="text" class="form-control" id="code" name="code" placeholder="请输入提取码">

                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">添加</button>
                        <a href="{:url('admin/resource/index')}" class="btn btn-default">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}