{extend name="base" /}

{block name="title"}资源列表{/block}
{block name="content"}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">资源列表</h1>

            <!-- 搜索表单 -->
            <form action="{:url('admin/resource/index')}" method="get" class="form-inline">
                <div class="form-group">
                    <input type="text" name="keyword" value="{$keyword|default=''}" class="form-control" placeholder="请输入关键字">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>

            <br>

            <!-- 新增按钮 -->
            <a href="{:url('admin/resource/add')}" class="btn btn-success">新增资源</a>

            <br><br>

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>序号（ID）</th>
                            <th>标题</th>
                            <th>链接</th>
                            <th>提取码</th>
                            <th>发布/修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name='data' id='list'}
                        <tr>
                            <td>{$list.id}</td>
                            <td>{$list.title}</td>
                            <td>{$list.url}</td>
                            <td>{$list.code}</td>
                            <td>{$list.time}</td>
                            <td>
                                <a href="{:url('admin/resource/edit', ['id' => $list.id])}">
                                    <button class="btn btn-primary btn-sm">修改</button>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm" onclick="deleteResource({$list.id})" data-toggle="modal" data-target="#myModal">删除</button>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
            {$data->render()|raw}
        </div>
    </div>
</div>

<!-- 删除确认模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">确认删除</h4>
            </div>
            <div class="modal-body">
                确定要删除该资源吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">确认删除</button>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    var resourceId;

    function deleteResource(id) {
        resourceId = id;
    }

    $(document).ready(function() {
        $('#confirmDelete').click(function() {
            if (resourceId) {
                $.ajax({
                    url: "{:url('admin/resource/delete')}",
                    type: 'POST',
                    data: {id: resourceId},
                    success: function (response) {
                        if (response.status == 1) {
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('请求出错，请稍后再试！');
                    }
                });
            }
        });
    });
</script>
{/block}