<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <title>演示</title>
    <meta name="keywords" content="演示">
    <meta name="description" content="演示">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="applicable-device" content="pc">
    <meta name="referrer" content="no-referrer" />
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jackedup.css">
    <link rel="stylesheet" href="/static/css/app.css">
    
    <script src="/static/js/font_638356_pp6ic8rbomi.js"></script>
</head>
<body class="    page-user-login anonymous-block bg
">
        <div class="header">
        <a href="http://zh8.demonet.com.cn/">
            <img class="logo" src="/static/images/logo.png" />
        </a>
    </div>
    <div class="main">
        <div class="tab">
            <span class="active">密码登录</span>
        </div>
        <div class="form">
            <div class="form-group">
                <input class="form-control input-lg user" placeholder="邮箱 / 昵称" value="" />
            </div>
            <div class="form-group">
                <input class="form-control input-lg password" type="password" placeholder="密码" value="" />
            </div>
            <div class="form-group">
                <div class="alert" style="display:none;"></div>
            </div>
            <div class="col-xs-6 column">
                <input type="checkbox" checked="checked" class="remember" title="记住我的状态"> 记住我的状态
            </div>
            <div class="col-xs-6 text-right column">
                <a class="normal" href="javascript:alert('请联系站长')">忘记密码</a>
                &nbsp;|&nbsp;<a class="normal" href="register">注册会员</a>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary btn-lg btn-block btn-login" value="登 录" />
            </div>
        </div>
    </div>
    <script>
        window.backUrl = '';
    </script>
    <!--[if lt IE 9]><script src="/static/js/html5shiv.min.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/static/js/respond.min.js"></script><![endif]-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
    <script src="/static/js/humane.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <!-- User Defined Script BEGIN -->
    <script src="/static/js/app.js"></script>
        <!-- END -->
</body>
</html>